:root {
    --cor-cabecalho: #ECECEC;
    --cor-principal: #F7F7F7;
    --cor-rodape: #FFFFFF;
    --cor-nav: #616160;
    --grey: #616160;
}

*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 58px 1fr 60px;
    grid-template-columns: 230px 1fr;
    grid-template-areas: 
        "navegacao cabecalho"
        "navegacao principal"
        "navegacao rodape";
}

.navegacao {
    grid-area: navegacao;
    background-color: var(--cor-nav);
    /* overflow-y: scroll; */
    padding: 0px;
    margin: 0px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
}

.navegacao ul {
    padding-left: 0px;
}

.navegacao ul a li {
    color: #ffffff;
    list-style: none;
    margin: 0px;
    padding-left: 20px;
}

.navegacao ul a li:hover {
    background-color: #a3a3a3;
}

.subitens {
    display: none;
    padding-left: 0px;
}

.subitens a li {
    padding-left: 40px !important;
}


a {
    text-decoration: none;
}


.cabecalho {
    grid-area: cabecalho;
    background-color: var(--cor-cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #D9DEE4;
    z-index: 1;

}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 118px);
    background-color: var(--cor-principal);
    padding: 10px 10px;
    /* z-index: 2;
    box-shadow: 0px 3px 15px -2px #000000b7; */
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.281);
}

/* .modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.modulo > h3 {
    margin: -1px;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 5px 10px;
    background-color: #1867c0;
}

.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #222222;
}

.modulo > ul > li:hover {
    background-color: #eeeeee;
}

.modulo.verde { border: 2px  solid #4CAF50; }
.modulo.verde > h3 { background-color: #4CAF50; }

.modulo.vermelho { border: 2px  solid #F44336; }
.modulo.vermelho > h3 { background-color: #F44336; }

.modulo.azul { border: 2px  solid #2196F3; }
.modulo.azul > h3 { background-color: #2196F3; }

.modulo.roxo { border: 2px  solid #9C27B8; }
.modulo.roxo > h3 { background-color: #9C27B8; }

.modulo.laranja { border: 2px  solid #FF9800; }
.modulo.laranja > h3 { background-color: #FF9800; }

.modulo.verde-escuro { border: 2px  solid #1B5E20; }
.modulo.verde-escuro > h3 { background-color: #1B5E20; }

.modulo.vermelho-escuro { border: 2px  solid #B71C1C; }
.modulo.vermelho-escuro > h3 { background-color: #B71C1C; }

.modulo.azul-escuro { border: 2px  solid #0D47A1; }
.modulo.azul-escuro > h3 { background-color: #0D47A1; }

.modulo.roxo-escuro { border: 2px  solid #4A148C; }
.modulo.roxo-escuro > h3 { background-color: #4A148C; } */

.rodape {
    grid-area: rodape;
    background-color: var(--cor-rodape);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #6d6d6d;
    
    
}